@media screen and (max-width: 700px) {
  .panel-main {
    height: fit-content;
  }
  
  .panel-main-outer {
    width: 100%;
    margin-top: 0;
    height: 100px;
  }

  .player-display-outer {
    border: 1px solid white;
    width: 101%;
  }

  .player-display {
    width: 80%;
    padding: 0;
    margin: 1px;
    font-size: 12px;
  }
}