.panel-main-outer {
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 700px) {
  .panel-main {
    height: fit-content;
  }

  .panel-main-outer {
    width: 100%;
    margin-top: 0;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  .player-display-outer {
    width: 100%;
  }

  .player-display {
    width: 80%;
    height: 25px;
    padding: 0;
    margin: 5px;
    font-size: 12px;
  }
}
